.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ----- PRODUCT LISTING CSS ----- */

.product_listing_wrapper {
  padding: 30px;
}
.products {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.products_item {
  margin: 10px 10px;
  border: 2px solid gray;
  width: 30%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.products__image > img {
  border-radius: 10px;
  height: 60%;
  width: 60%;
}

.products__price_ratings {
  display: flex;
  justify-content: center;
}

.products__price_ratings > p {
  padding: 0 5px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid grey;
  cursor: pointer;
}
.selected-page {
  background-color: lightgray;
}
.hide_right_arrow {
  display: none;
}
.hide_left_arrow {
  display: none;
}

.product_search {
  text-align: center;
}

.search_input {
  padding: 15px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid gray;
}
